/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 164, 130, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00000096;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00000096;
}

body{
    background-size: 100%;
    background-image: url("../image/image.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 25px Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#history{
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    overflow-y: scroll;
    text-align: center;
    margin: 100px 20px;
    width: 360px;
    padding: 10px;
    max-height: 386px;
}
#history p{
    transition: all 0.3s;
    margin-bottom: 10px;
    padding: 6px 20px 6px 10px;
    /* height: 30px; */
    display: table-caption;
    max-width: 100%;
    border-radius: 12px;
    background-color: #000000b0;
    color: white;
    font-size: 18px;
    /* min-width: 21%; */
    box-shadow: -1px 2px 4px 0px #0000009c;
}


#calculator {
    display: inline-block;

    transition: width 0.7s;
    width: 405px;
    margin:100px 0% 100px 35%;;
    padding: 20px 20px 9px;
    position: relative;
    background:#6f6f6f94;
    border-radius: 11px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}


.top button.reset {
    position: absolute;
    z-index: 6;

}


.top #screen {
    height: 65px;
    width: 98%;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 10px 10px 20px;
    background: #00000096;
    font-size: 25px;
    color: white;
    text-shadow: -3px 2px 3px rgba(0, 0, 0, 0.72);
    text-align: right;
    margin-bottom: 25px;
    border-radius: 30px;
}

.keys, .top {
    overflow: hidden;
}


input, button{
    border: none;
    outline: none;
}
.keys button, .top button.reset {
    float: left;
    position: relative;
    top: 0;
    border: none;
    width: 66px;
    height: 56px;
    background: rgba(12, 12, 12, 0.5);
    border-radius: 3px;
    box-shadow: -1px 5px 4px 0px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #ccc;
    line-height: 56px;
    text-align: center;
    user-select: none;
    transition: all 0.5s ease;
}


.keys button.operator {
    transition: opacity 0.7s;!important;
    background:#d3545d;
}



.keys button.eval {
    width: 140px!important;
    background: #d3545d;
    color: #ffffff;
}

.top button.reset {

    background: #00000000;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.71);
    width: 55px;
    left: 0px;
}


.keys button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
}

.eval:hover {
    background: #abb850;
    color: #ffffff;
}

.top button.reset:hover {
    border-radius: 190px;
    background: #00000040;
    color: white;
}

.keys button:active {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    top: 4px;
}

.keys button.eval:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

.top button.reset:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}

.errorStyle{
    background-color: #333333!important;
}

.zero{
    width: 138px!important;
}
